@import "_variables";

/* BEGIN COMING SOON STYLES */
#wrapper {
  background: url(/img/bg.jpg) center center no-repeat;
  background-size: cover;
}
#coming-soon {
  .page-logo {
    display: inline-block;
    margin: 30px 0;
  }
  .page-title {
    color: @white;
    font-size: 56px;
    font-weight: 500;
    margin: 0 0 30px;
    text-shadow: @shadow-blue-big;
  }
  .contact-form {
    margin: 10px auto 30px;
    max-width: 500px;
  }
}
/* END COMING SOON STYLES */